<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="deb2b1">  <td>18/11/08 11:14:29</td>   <td>0</td> <td title="&gt;&gt;LandingPage.beforeSuite()[pri:0, instance:pageObjects.LandingPage@62e20a76]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1221981006</td>   <td>1792384402 1458621573 1658980982 </td> </tr>
<tr bgcolor="deb2b1">  <td>18/11/08 11:14:29</td>   <td>15</td> <td>&nbsp;</td><td title="&lt;&lt;LandingPage.afterTest()[pri:0, instance:pageObjects.LandingPage@62e20a76]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1221981006</td>   <td>1792384402 1458621573 1658980982 </td> </tr>
</table>
