<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>pageObjects.LandingPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>inputSearchInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>inputSearchInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>inputSearchInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSearchButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSearchButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSearchButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchJobLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchJobLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchJobLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>launchSite</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>launchSite</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>launchSite</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
