<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass(java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:21</td>   <td>14266</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass(java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:36</td>   <td>29267</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass(java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:01</td>   <td>-6004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:02</td>   <td>-4636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:03</td>   <td>-3700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:04</td>   <td>-2825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:05</td>   <td>-1971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:06</td>   <td>-938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:16</td>   <td>9445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:17</td>   <td>10255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:18</td>   <td>11255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:19</td>   <td>12143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:20</td>   <td>13127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:20</td>   <td>13770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:31</td>   <td>24150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:32</td>   <td>24991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:32</td>   <td>25812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:33</td>   <td>26630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:34</td>   <td>27464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:35</td>   <td>28528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult, java.lang.reflect.Method, java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:36</td>   <td>29425</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@945722724</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:04:51</td>   <td>-15882</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass(java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:09</td>   <td>2177</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass(java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:05:23</td>   <td>16339</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass(java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="fbd876">  <td>18/11/15 10:04:51</td>   <td>-15903</td> <td title="&gt;&gt;BaseTest.beforeSuite(java.lang.String)[pri:0, instance:pageObjects.LandingPage@2aceadd4]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@945722724</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:05</td>   <td>-1974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.clickSearchButton()[pri:0, instance:pageObjects.LandingPage@24269709]">clickSearchButton</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:19</td>   <td>12934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.clickSearchButton()[pri:0, instance:pageObjects.LandingPage@2aceadd4]">clickSearchButton</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:34</td>   <td>27462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.clickSearchButton()[pri:0, instance:pageObjects.LandingPage@7a8c8dcf]">clickSearchButton</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:03</td>   <td>-3704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.inputSearchInfo()[pri:0, instance:pageObjects.LandingPage@24269709]">inputSearchInfo</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:18</td>   <td>11056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.inputSearchInfo()[pri:0, instance:pageObjects.LandingPage@2aceadd4]">inputSearchInfo</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:32</td>   <td>25810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.inputSearchInfo()[pri:0, instance:pageObjects.LandingPage@7a8c8dcf]">inputSearchInfo</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:04:56</td>   <td>-10707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.launchSite()[pri:0, instance:pageObjects.LandingPage@24269709]">launchSite</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:12</td>   <td>5775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.launchSite()[pri:0, instance:pageObjects.LandingPage@2aceadd4]">launchSite</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:27</td>   <td>20365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.launchSite()[pri:0, instance:pageObjects.LandingPage@7a8c8dcf]">launchSite</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:04</td>   <td>-2834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.selectLocation()[pri:0, instance:pageObjects.LandingPage@24269709]">selectLocation</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:19</td>   <td>12075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.selectLocation()[pri:0, instance:pageObjects.LandingPage@2aceadd4]">selectLocation</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:33</td>   <td>26626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.selectLocation()[pri:0, instance:pageObjects.LandingPage@7a8c8dcf]">selectLocation</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:02</td>   <td>-4982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.verifySearchJobLink()[pri:0, instance:pageObjects.LandingPage@24269709]">verifySearchJobLink</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:17</td>   <td>10253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.verifySearchJobLink()[pri:0, instance:pageObjects.LandingPage@2aceadd4]">verifySearchJobLink</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:32</td>   <td>24989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.verifySearchJobLink()[pri:0, instance:pageObjects.LandingPage@7a8c8dcf]">verifySearchJobLink</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:06</td>   <td>-940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.verifySearchResult()[pri:0, instance:pageObjects.LandingPage@24269709]">verifySearchResult</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:20</td>   <td>13746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.verifySearchResult()[pri:0, instance:pageObjects.LandingPage@2aceadd4]">verifySearchResult</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/15 10:05:35</td>   <td>28525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.verifySearchResult()[pri:0, instance:pageObjects.LandingPage@7a8c8dcf]">verifySearchResult</td> 
  <td>TestNG@654291774</td>   <td>2056031695 606508809 718187988 </td> </tr>
</table>
