<h2>Reporter output</h2><table><tr><td>PASSED!</td></tr>
<tr><td>PASSED!</td></tr>
<tr><td>PASSED!</td></tr>
<tr><td>PASSED!</td></tr>
<tr><td>PASSED!</td></tr>
<tr><td>PASSED!</td></tr>
<tr><td>FAILED!</td></tr>
<tr><td>PASSED!</td></tr>
</table>